@import 'reset';
@import 'vars';

body {
  font-family: sans-serif;
  color: black;
  background-image: url('./background.png');
  background-size: 70%;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

